{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	<div class="row">
		<div class="card-group">
			<div class="col-12">
				<div class="card">
					<div class="card-heading">
						<h3 class="text-center">ЭКО-СУМКА ИЛИ ПОЛИЭТИЛЕНОВЫЙ ПАКЕТ?</h3>
					</div>
					<div class="card-body">
						<p class="card-text text-center">
							На сегодняшний день эко-сумки востребованы в различных сферах жизни человека. Хотя полиэтиленовые пакеты более дешевые, они имеют долгий период распада в естественной среде, чем наносят непоправимый вред экологии. Переход на эко-сумки- это реальная возможность на собственном примере показать высокий уровень социальной ответственности и при этом грамотно тратить рекламный бюджет.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="card">
					<div class="card-heading">
						<h3 class="text-center">Благодаря чему эко-сумки стали важным аксессуаром нашей жизни?</h3>
					</div>
					<div class="card-body">
						<p>
							Преимущества эко-сумок бесспорны:
							<ul>
								<li>Мы можем использовать их многократно. Эко-сумки точно выбрасываются гораздо реже, что уменьшает загрязнение окружающей среды. Важно, что многие из этих сумок изготовлены из натуральных тканей, так что ни о каком загрязнении вообще речи нет.</li>
								<li>Они достаточно прочные. Одна эко-сумка будет у вас такой же срок, за который Вы использовали много десятков полиэтиленовых пакетов.</li>
								<li>При утилизации эко-сумок выделяется гораздо меньше вредных веществ, чем при утилизации полиэтиленовых пакетов.</li>
								<li>Имеют стильный дизайн.</li>
							</ul>
							Средний срок использования эко-сумок - около года.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}